#column{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    align-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: border-box;

}

#row{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: border-box;
    background-color: black;
    width: 800px;
    height: 800px;
}

.blue{
background-color: aqua;
height: 200px;
width: 200px;
margin: 0;
padding: 0;
border: border-box;
}

.red{
background-color: red;
height: 200px;
width: 200px;
margin: 0;
padding: 0;
border: border-box;
}

.yellow{
background-color: yellow;
height: 200px;
width: 200px;
margin: 0;
padding: 0;
border: border-box;
}
